
{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Favourite Characters</h3>

<div class="row card-panel grey lighten-5">
    <form action="" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix black-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Tasks</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_characters') }}" class="black btn text-shadow">Reset</a>
                <button type="submit" class=" red lighten-2 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    {% for character in characters %}
    <div class="col s12 m6">
      <div class="card grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title">{{ character.character_name }}</span>
          <br>
            <strong>{{ character.character_description }}</strong>
            <br>
            <strong>Category: {{ character.category_name }}</strong>
            <br>
            <strong>Film or tv show:{{ character.character_film }}</strong>
            <br>
            <strong>Played by: {{ character.character_actor }}</strong>
            <br>
            <strong>Directed by: {{ character.film_creator }}</strong>
        </div>
        <a href="" class="black btn-small text-shadow">Delete</a>
        <a href="" class="btn-small red lighten-2">Edit</a>
      </div>
    </div>
    {% endfor %}
  </div>



{% endblock %}
