
{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Favourite Characters</h3>


            
<div class="row">
    {% for character in characters %}
    <div class="col s12 m6">
      <div class="card grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title">{{ character.character_name }}</span>
          <br>
            <strong>{{ character.character_description }}</strong>
            <br>
            <strong>Category: {{ character.category_name }}</strong>
            <br>
            <strong>Film or tv show:{{ character.character_film }}</strong>
            <br>
            <strong>Played by: {{ character.character_actor }}</strong>
            <br>
            <strong>Directed by: {{ character.film_creator }}</strong>
        </div>
        <a href="" class="black btn-small text-shadow">Delete</a>
        <a href="" class="btn-small red lighten-2">Edit</a>
      </div>
    </div>
    {% endfor %}
  </div>



{% endblock %}
